<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "post-form",
  phx_target: @myself,
  phx_submit: "save" %>

  <%= hidden_input f, :type %>

  <%= label f, :body %>
  <%= text_input f, :body %>
  <%= error_tag f, :body %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
